In [1]:
import pandas as pd

print("Starting conversion...")

# 1. Process u.data (Ratings)
# This file is TAB-separated
r_cols = ['user_id', 'item_id', 'rating', 'timestamp']
df_ratings = pd.read_csv(
    'u.data', 
    sep='\t', 
    names=r_cols, 
    header=None
)
# Save as CSV
df_ratings.to_csv('ratings.csv', index=False)
print("Saved ratings.csv")

Starting conversion...
Saved ratings.csv

In [2]:
df_ratings

       user_id  item_id  rating  timestamp
0          196      242       3  881250949
1          186      302       3  891717742
2           22      377       1  878887116
3          244       51       2  880606923
4          166      346       1  886397596
...        ...      ...     ...        ...
99995      880      476       3  880175444
99996      716      204       5  879795543
99997      276     1090       1  874795795
99998       13      225       2  882399156
99999       12      203       3  879959583

[100000 rows x 4 columns]

In [3]:
import pandas as pd

print("Starting MovieLens 1M conversion...")

# Define the column names
r_cols = ['UserID', 'MovieID', 'Rating', 'Timestamp']

# Read the file
# We must use engine='python' because the separator '::' is not a single character
df_ratings_1m = pd.read_csv(
    'ratings.dat',
    sep='::',
    names=r_cols,
    header=None,
    engine='python'  # This is the important part!
)

# Save as CSV
df_ratings_1m.to_csv('ratings_1m.csv', index=False)

print("Saved ratings_1m.csv successfully!")

Starting MovieLens 1M conversion...
Saved ratings_1m.csv successfully!

In [4]:
df_ratings_1m

         UserID  MovieID  Rating  Timestamp
0             1     1193       5  978300760
1             1      661       3  978302109
2             1      914       3  978301968
3             1     3408       4  978300275
4             1     2355       5  978824291
...         ...      ...     ...        ...
1000204    6040     1091       1  956716541
1000205    6040     1094       5  956704887
1000206    6040      562       5  956704746
1000207    6040     1096       4  956715648
1000208    6040     1097       4  956715569

[1000209 rows x 4 columns]